<?php

/** @var \Lovata\OrdersShopaholic\Models\Order $formModel */
/** @var \Lovata\OrdersShopaholic\Models\Order $obOrder */
if(!isset($obOrder) && isset($formModel)) {
    $obOrder = $formModel;
}
?>

<?php if ($obOrder->status->code == "new"  || $obOrder->status->code == "paid" 
|| $obOrder->status->code == "in_progress" || $obOrder->status->code == "pending-cash"){ ?>



<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="btn btn-primary oc-icon-plus">Acciones</a>
    <ul class="dropdown-menu" role="menu" data-dropdown-title="Add something small">
        <?php if ($this->user->hasAccess("resend-order")){ ?>
        <li role="presentation">
            <a
                data-primary-button
                class="oc-icon-envelope-o"
                data-request="onSendPreOrder"
                data-stripe-load-indicator
                href="#">
                Reenviar correo de orden

            </a>
            
        </li>
        <?php } ?>

        <?php if ($obOrder->status->code == "paid" ){ ?>
            <li role="presentation">
                <a data-toggle="modal" href="#content-approvement-cancelation" class="oc-icon-check-circle">Pasar orden a completada</a>
            </li>
        <?php } ?>
        
        <?php if ($obOrder->status->code != "canceled" ){ ?>
            <li role="presentation">
                <a data-toggle="modal" href="#content-confirmation-cancelation" class="oc-icon-ban">Cancelar Orden</a>
            </li>
        <?php } ?>

        <?php if ($obOrder->status->code == "new" ){ ?>
            <li role="presentation">
                <a
                    data-primary-button
                    class="oc-icon-credit-card-alt"
                    data-request-data="new_status_id: 2"
                    data-request="onChangeStatus"
                    data-stripe-load-indicator
                    href="#">
                    Pasar order a verificando pago
                </a>
            </li>
        <?php } ?>

        <?php if ($obOrder->status->code == "in_progress" ){ ?>
            <li role="presentation">
                <a
                    data-primary-button
                    class="oc-icon-calendar-check-o"
                    data-request-data="new_status_id: 5"
                    data-request="onChangeStatus"
                    data-stripe-load-indicator
                    href="#">
                    Pasar order a pagada y pendiente de disfrute
                </a>
            </li>
        <?php } ?>

    </ul>
</div>

<?php } ?>
<!-- modal para cancelar ordern-->
<div class="control-popup modal fade" id="content-confirmation-cancelation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-elements" role="form" data-request="onCancelOrder">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">¿Estás seguro que deseas CANCELAR esta orden?</h4>
            </div>
            <div class="modal-body">
                
                <div class="form-group checkbox-field span-full is-required">
                    <div class="checkbox custom-checkbox">
                        <input name="Order[restore_inventory]" value="1" type="checkbox" id="checkbox_1">
                        <label for="checkbox_1">Volver a añadir existencia al inventario</label>
                        <p class="help-block">Reponer cada producto de esta orden devuelta al inventario</p>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-request="onCancelOrder">Aceptar</button>
            </div>
        </div>
        </div>
        
    </div>
</div>
<!-- fin modal para cancelar ordern-->

<!-- modal para cancelar ordern-->
<div class="control-popup modal fade" id="content-approvement-cancelation" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-elements" role="form" data-request="onApproveOrder">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">¿Estás seguro que deseas APROBAR esta orden?</h4>
            </div>
            <div class="modal-body">
                
                <div class="form-group checkbox-field span-full is-required">
                    <div class="checkbox custom-checkbox">
                        <input name="Order[reduce_inventory_approvement]" value="1" type="checkbox" id="checkbox_2">
                        <label for="checkbox_2">reducir la existencia de estos productos del inventario</label>
                        <p class="help-block">Si ya se ha reducido deje esta casilla vacía</p>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-request="onApproveOrder">Aceptar</button>
            </div>
        </div>
        </div>
        
    </div>
</div>
<!-- fin modal para cancelar ordern-->