<?php   

/** @var \Lovata\OrdersShopaholic\Models\Order $formModel */
/** @var \Lovata\OrdersShopaholic\Models\Order $obOrder */
/** @var \Lovata\OrdersShopaholic\Classes\PromoMechanism\TotalPriceContainerLog $obPriceLogData */
if(!isset($obOrder) && isset($formModel)) {
    $obOrder = $formModel;
}

    
    $obPriceData = $formModel->total_price_data;


  //ESTOS SON LOS 3 TIPOS DE DESCUENTO Q ME PUEDEN LLEGAR
//position_total_price_data  <-- anterior
//shipping_price_data
//total_price_data

$arPriceLog = $obPriceData->log;

//var_dump($formModel->coupon[0]->coupon_group);

//var_dump($obOrder);
?>


<div class="container">
    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p><strong>Datos de la orden</strong> </p>
                <ul>
                    <li><strong>Status:</strong> <?php echo($model->status->name)   ?></li>
                    <li><strong>Moneda:</strong> <?php echo($model->currency->name)   ?></li>
                    <?php if($model->payment_method != null){ ?>
                    <li><strong>Forma de Pago:</strong> <?php echo($model->payment_method->name)   ?> </li>
                    <?php } ?>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p> <strong>Datos del Cliente</strong></p>
                <ul>
                    <li><strong>Nombre:</strong> <?php echo($model->getProperty("name"))?></li>
                    <li> <strong>Apellido:</strong> <?php echo($model->getProperty("last_name"))?></li>
                    <li><strong>Email:</strong> <?php echo($model->getProperty("email"))?></li>
                    <li><strong>Teléfono:</strong> <?php echo($model->getProperty("phone"))?></li>
                    <?php if($model->getProperty("contact_phone")){ ?>
                        <li><strong>Télefono de nacional:</strong> <?php echo($model->getProperty("contact_phone"))?></li>
                    <?php } ?>
                    
                    <?php /*if($model->user->property["document"]){ ?>
                    <li><strong>Documento de identidad:</strong> <?php echo($model->user->property["document"])?></li>
                    <?php }*/ ?>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p><strong>Comentarios del cliente</strong></p>
                <p><em><?php echo($model->getProperty("comments"))?></em></p>
            </div>
        </div>
    </div>
   
    <?php if($arPriceLog){ /* ?>
    <!-- OLD -->
    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p><strong>Cupones y descuentos</strong> </p>
                <div class="control-list">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                        
                            <th><span>Descripción</span></th>
                            <th><span>Precio anterior</span></th>
                            <th><span>Valor de descuento</span></th>
                            <th><span>Total</span></th>
                        </tr>
                        </thead>
                        <tbody>
                     
                          <?php foreach ($arPriceLog as $obPriceLogData) {?>
                            <?php $obMechanism = $obPriceLogData->mechanism ?>
                            <tr>
                                <td><?= $obMechanism->getRelatedDescription() ?></td>
                               
                                <td>
                                    <span>
                                        <?php if ($obPriceLogData->old_price_without_tax_value != $obPriceLogData->old_price_with_tax_value) {?>
                                            <strong><?= $obPriceLogData->old_price_without_tax ?></strong><br>
                                            <strong><?= $obPriceLogData->tax_old_price ?></strong><br>
                                            <strong><?= $obPriceLogData->old_price_with_tax ?></strong>
                                        <?php } else { ?>
                                            <strong><?= $obPriceLogData->old_price ?></strong>
                                        <?php } ?>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-<?= $obMechanism->getIncreaseFlag() ? 'success' : 'danger'; ?>">
                                        <?php if (!empty($obMechanism)) {?>
                                        <strong>
                                            <?= $obMechanism->getIncreaseFlag() ? '+' : '-'; ?><?= $obMechanism->getDiscountValue() ?><?=  $obMechanism->getDiscountType() == \Lovata\OrdersShopaholic\Models\PromoMechanism::PERCENT_TYPE ? '%' : '' ?>
                                        </strong>
                                        <?php }?>
                                    </span>
                                    =
                                    <span class="text-<?= $obMechanism->getIncreaseFlag() ? 'success' : 'danger'; ?>">
                                        <?php if ($obMechanism->getIncreaseFlag()) {?>
                                            <?php if ($obPriceLogData->increase_price_without_tax_value != $obPriceLogData->increase_price_with_tax_value) {?>
                                            <strong><?= $obPriceLogData->increase_price_without_tax ?></strong><br>
                                            <strong><?= $obPriceLogData->tax_increase_price ?></strong><br>
                                            <strong><?= $obPriceLogData->increase_price_with_tax ?></strong>
                                            <?php } else { ?>
                                            <strong><?= $obPriceLogData->increase_price ?></strong>
                                            <?php }  ?>
                                        <?php } else { ?>
                                            <?php if ($obPriceLogData->discount_price_without_tax_value != $obPriceLogData->discount_price_with_tax_value) {?>
                                            <strong><?= $obPriceLogData->discount_price_without_tax ?></strong><br>
                                            <strong><?= $obPriceLogData->tax_discount_price ?></strong><br>
                                            <strong><?= $obPriceLogData->discount_price_with_tax ?></strong>
                                            <?php } else { ?>
                                            <strong><?= $obPriceLogData->discount_price ?></strong>
                                            <?php }  ?>
                                        <?php } ?>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success">
                                        <?php if ($obPriceLogData->price_without_tax_value != $obPriceLogData->price_with_tax_value) {?>
                                            <strong><?= $obPriceLogData->price_without_tax ?></strong><br>
                                            <strong><?= $obPriceLogData->tax_price ?></strong><br>
                                            <strong><?= $obPriceLogData->price_with_tax ?></strong>
                                        <?php } else { ?>
                                            <strong><?= $obPriceLogData->price ?></strong>
                                        <?php } ?>
                                    </span>
                                </td>
                            </tr>
                        <?php }?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <?php */ } ?>
    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Destino</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Tipo de Renta</th>
                <th scope="col">Fecha Desde</th>
                <th scope="col">Fecha Hasta</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>

                <?php foreach ($model->order_position as $value) {
                   $firstDate = new \Date($value->charge->first_date);
                   $lastDate = new \Date($value->charge->last_date);
                   echo ("
                   <tr>
                        <th scope='row'>".$value->charge->product->name."</th>
                        <td>".$value->charge->destination->name."</td>
                        <td>".$value->quantity."</td>
                        <td>".$value->charge->booking_type->name."</td>
                        <td>".$firstDate->format("d-m-Y")."</td>
                        <td>".$lastDate->format("d-m-Y")."</td>
                        
                        <td>".($value->charge->price)."</td>
                       
                    </tr>
                   
                   ");
                }

                ?>
              
              <tr>
                  <td colspan="6" class="text-right"><strong>Total:</strong> <?php echo ($model->total_price) ?> </td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                          <td scope="row">Agente que envío la orden</td>
                          <?php
                            $agent = "";
                            $agents = $model->getManagerIdOptions();
                            if($model->manager_id != null && isset($agents[$model->manager_id])){
                                $agent = $agents[$model->manager_id];
                            }
                          ?>
                          <td><?php echo($agent)?></td>
                          
                        </tr>
                        
                    </tbody>
                </table>
            </div>
    
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                          <td width="50%">Firma de cliente que recibe servicio</td>
                          <td></td>
                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

    </div>
</div>