
<?php

$route = "qchsoft/yatchextension/calendardate/generate/".$this->calendarId;
$routeDates = "qchsoft/yatchextension/calendardate/availability/".$this->calendarId;


?>

<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item title-value">
            <h4><?= e($this->obCalendar->name) ?></h4>
            <p><?= e($this->obCalendar->calendarable->name) ?></p>
        </div>
    </div>
</div>

<div data-control="toolbar">
        <a href="<?= Backend::url($route) ?>" class="btn btn-primary oc-icon-plus">Generate Prices</a>
        <a href="<?= Backend::url($routeDates) ?>" class="btn btn-primary oc-icon-calendar-o">Change availability</a>
        
        <!--  <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>-->
</div>
