<?php Block::put('breadcrumb') ?>
<?php 
$route = "qchsoft/yatchextension/calendardate/index/".$this->calendarId;
?>
<ul>
    <li><a href="<?= Backend::url($route) ?>">Calendar Dates</a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>
<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formGenerateRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="button"
                    data-request="onGenerate"
                    data-request-confirm="¿Estas seguro que deseas aplicar estos cambios?"
                    data-request-data="close:1, calendar_id: <?= $this->calendarId ?>"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-default">
                    <?= e(trans('Generate Prices')) ?>
                </button>

                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('qchsoft/yatchextension/calendardate/index/'.$this->obGenerateFormWidget->model->id) ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>
    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('lovata/couponsshopaholic/coupongroups') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>